
  footer {
  background:linear-gradient(BLACK , rgb(16, 16, 20));
  color: rgb(238, 235, 235);
  padding: 20px;
}
 

.floating-container {
     background-image: url(3.jpg);
     position:relative;
      height: 30vh;
      background:linear-gradient(rgb(28, 28, 41),rgb(43, 30, 30));
    }

.social-media {
  list-style: none;
  padding: 0;
  text-align: right;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}
.social-media img{
  width: 50px;
  height: 50px;
  border-radius: 40px;
}
.social-media li:last-child {
  margin-right: 0;
}
  body{
    background-coloR:rgb(28, 28, 29);
  color: aliceblue;
  }

  .content-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 40px;
  
}

.element {
      position: absolute;
      width: 90px;
      height: 90px;
      border-radius: 50%;
    }
    .element1 {
      background-color: rgb(76, 0, 255);
      top: 30%;
      left: 50%;
      transform: translate(-20%, -30%);
      animation: floatAnimation 1s infinite alternate;
    }

    .element2 {
      background-color: rgb(182, 180, 185);
      top: 30%;
      left: 40%;
      transform: translate3D(100%);
      animation: floatAnimation 1s infinite alternate;
    }@keyframes floatAnimation {
      0% {
        transform: translate(-50%, -50%);
      }
      100% {
        transform: translate(50%, 50%);
      }
    }
  
.content {
  width: 45%;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.content p {
  color: WHITE;
}