
    body {
      margin: 0;
      font-family: 'Arial', sans-serif;
      background-color: white;
      color: rgb(37, 36, 36);
    }

    .navbar {
      background-color:bisque;
      overflow: hidden;
      position: relative; 
    }

    .navbar img.logo {
      position: absolute;
      top: 10px; 
      left: 20px; 
      max-width: 200px;
    }

    .navbar a {
      float: left;
      display: block;
      color:aliceblue;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .navbar a:hover {
      background-color:rgb(76, 79, 79);
      color: black;
    }

    .resource-container {
      text-align: center;
      margin: 60px auto;
      padding: 20px;
      width: 80%;
      background-color: rgb(161, 156, 148);
      border-radius: 10px;
      box-shadow: 0 4px 8px black;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    .resource-list {
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .resource-item {
      width: 30%; 
      margin-bottom: 20px;
      border: 1px solid #ddd;
      padding: 15px;
      border-radius: 8px;
    }

    .resource-item img {
      max-width: 100%;
      border-radius: 8px;
      margin-bottom: 10px;
      height: 40%;
    }

    .resource-item a {
      text-decoration: none;
      color:black;
      font-weight: bold;
      display: block;
    }

    .resource-item p {
      margin: 10px 0;
    }

    footer {
      background-color:rgb(161, 156, 148);
      color:black;
      padding: 10px;
      text-align: center;
      margin-top: 20px;
    }
    .social-media {
      list-style: none;
      padding: 0;
      text-align: right;
      display: flex;
      justify-content: right;
      
    }
    
    .social-media li {
      display: inline-block;
      margin-right: 10px;
    }
    .social-media img{
      width: 50px;
      height: 50px;
      border-radius: 40px;
    }
    .social-media li:last-child {
      margin-right: 0;
    }